.btn{
    height: 15xp;
    width: 70px;
    margin-left: 10px;
    border-radius: 10px;
    border: solid 0.1px;
    background-color: lightgreen;
}

.b{
    background-color: white;
    border: none;
}

.l{

    display: flex;
    flex-direction: row;
    gap: 10px;
}